@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-dark: #000000;
  --text-light: #727274;
  --extra-light: #f3f4f6;
  --white: #ffffff;  --max-width: 1200px;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  background-color: #eff3ff;
  overflow-x: hidden;
  background-color: #1c1e1d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

nav {
  position: fixed;
    /* isolation: isolate; */
    width: 100%;
    /* max-width: var(--max-width); */
    /* margin-inline: auto; */
    z-index: 9;
    background-color: #1c1e1d;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo img {
  display: flex;
  max-width: 80px;
  border-radius: 100%;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #1c1e1d;
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.nav__links a:hover {
  color: var(--text-dark);
}

.header__container {
  width: 100vw; 
  padding-inline: 11rem;
  display: grid;
  gap: 2rem;
  background-image: url('img/background website.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.header__content {
  padding-block: 5rem;
  text-align: center;
}

.header__content h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #e0e0d5;
}

.header__content h1 {
  font-family: 'poppins';
  margin-bottom: 2rem;
  font-size: 27px;
  font-weight: 700;
  line-height: 5rem;
  color: #e0e0d5;
}

.header__content h1 span {
  color: white;
}

.header__content p {
  margin-bottom: 4rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75rem;
  color: #e0e0d5;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.links h4 {
  margin-bottom: 2rem;
  font-size: 13px;
  font-weight: 700;
  color: #e0e0d5;
  text-align: center;
}

.links ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.links a {
  display: inline-block;
  padding: 16px 20px;
  font-size: 10px;
  color: #e0e0d5;
  border-radius: 5px;
  box-shadow:  6px 6px 14px #d7dbe6, -3px -4px 14px  var(--white);
}

.links a:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

i.fa-brands.fa-github{
  color: #e0e0d5;
}
i.fa-brands.fa-linkedin{
  color: #e0e0d5;
}

.portrait {
  background-color: #1c1e1d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image {
  width: 50%;
  padding-right: 20px;
}

.image img {
  width: 72%;
  height: auto;
}

.content {
  width: 38%;
}

h1 {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-weight: 700;
  color: #e0e0d5;
}

h2 {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Poppins';
  color: #e0e0d5;
}

p {
  font-size: 11px;
  line-height: 1.6;
  margin-bottom: 15px;  
  color: #e0e0d5;
}


/*swipper*/

.bac-color{
  background-color: white;
  padding: 70px;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  margin-top: 50px;
}

img {
  display: flex;
  width: 100%;
}

.store__container h2 {
  font-family: 'Poppins';
  margin-bottom: 0.5rem;
  font-size: 25px;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.store__container p {
  margin-bottom: 6rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.swiper {
  width: 100%;
  padding-bottom: -10px;
}

.swiper-slide {
  max-width: 400px;
}

.store__card h4 {
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.store__card img {
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.store__card h3 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.swiper-pagination-bullet-active {
  background-color: var(--text-dark);
}

/*modal*/
/* Styles pour le modal */
.modal {
  display: none; /* Caché par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
  overflow: hidden; /* Empêcher le scroll sur la page */
}

.modal-content {
  background-color: white;
  margin-top: 10%;
  margin-left: 13%;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh; /* Limite la hauteur à 80% de la hauteur de la fenêtre */
  overflow-y: auto; /* Permet le défilement vertical si le contenu est trop grand */
  position: relative;
}

.modal h3{
  font-family: 'poppins';
}

.modal p{
  font-family: 'poppins';
  color: #000000;
  margin-top: 40px;
}

.modal a{
  font-family: 'poppins';
  color: #000000;
  margin-top: 40px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

.no-scroll {
  overflow: hidden;
}



/*services*/
section.services {
  padding: 40px 20px;
}

.title_s h2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-weight: 700;
  color: #e0e0d5;
}

.services__container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: flex-start;
}

.services__left {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-right: 40px;
}

.services__list {
  list-style: none;
  padding: 0;
}

.services__list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.services__list li img {
  width: 100px;
  margin-right: 10px;
}

.services__right {
  flex: 2;
}

.services__right p {
  font-size: 16px;
  margin-bottom: 20px;
}

.skills2 {
  display: flex;
  justify-content: space-between;
}

.skills__section {
  flex: 1;
  margin-right: 20px;
}

.skills__section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.skills__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.skills__list li {
  margin: 10px;
}

.skills__list li img {
  width: 70px;
  height: 70px;
}

/*footer*/
footer {
  padding: 60px 40px; /* Augmente l'espace intérieur pour les grands écrans */
  text-align: left; 
}

.footer__container h2 {
  font-family: 'Poppins';
  color: #e0e0d5;
  margin-bottom: 1rem;
  font-size: 25px;
  font-weight: 600;
}

.footer__container p {
  font-family: 'Poppins';
  margin-bottom: 1rem;
  color: #e0e0d5;
}

.footer__container .mail__to a {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
}

.mail__to a span {
  font-size: 1rem;
}

.footer__container .mail__to:hover a {
  color: var(--white);
}

.footer__socials {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__localisation {
  margin-top: -8px;
  margin-bottom: 30px;
}

.footer__localisation a{
  font-size: 16px;
  color: #000000;
}


@media (width > 768px) {
 
  .header__content h1 {
    font-size: 3rem;
    width: 33rem;
  }

  .header__content p {
    font-size: 1rem;
    width: 35rem;
  }

  .links h4 {
    font-size: 1rem;
  }

  .links a {
    font-size: 1rem;
  }

  nav {
    /*position: static; */
      padding: 2rem 1rem;
      display: flex;
      align-items: center;
    /* justify-content: space-between; */
      gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 115px;
    margin-left: -11px;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: #e0e0d5;
  }

  .nav__links a:hover {
    color: white;
    border-bottom: 1px solid white;
  }

  .hire__me {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    box-shadow: 6px 6px 14px #d7dbe6, -3px -4px 14px var(--white);
  }

  .hire__me:hover {
    color: var(--white) !important;
    background-color: var(--primary-color);
  }

  .header__container {
    align-items: center;
    height: 46rem;
  }

  .header__image {
    margin-top: 0;
    grid-area: 1/2/2/3;
  }

  .header__content {
    padding-block: 4rem;
    text-align: left;
  }

  .links {
    justify-content: flex-start;
  }

  .links h4 {
    text-align: left;
  }

  .portrait {
    padding: 70px 0px;
  }

 .image {
    width: 30rem;
  }

  h1 {
    font-size: 2rem;
  }  

  h2 {
    font-size: 1.3rem;
    margin-top: 15%;
  }

  p {
    font-size: 1rem;
  }

  .content {
    width: 38%;
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .product__card {
    text-align: left;
  }

  .product__colors {
    justify-content: flex-start;
  }

  .section__container {
    margin-top: -120px;
  }

  .store__container h2 {
    font-size: 2rem;
  }

  .store__card h4 {
    font-size: 1rem;
  }

  /*services*/

  .services h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 9%;
  }

  /*footer*/
  .footer__container h2 {
    font-size: 2rem;
  }
  
  /*modal*/
  .modal-content {
    margin-top: 7%;
    margin-left: 32%;
  }
}


@media (max-width: 767px) {
  /* Navigation */
  .nav__logo img {
    max-width: 60px;
  }

  .nav__header {
    padding: 0.5rem;
  }

  /* Header */
  .header__container {
    padding-inline: 1rem;
  }

  .header__content h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .header__content p {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  /* Links */
  .links a {
    padding: 10px 14px;
    font-size: 0.75rem;
  }

  /* Portrait Section */
  .portrait {
    flex-direction: column;
    padding: 20px;
  }

  .image {
    display: none;
  }

  .content {
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .section__container {
    margin-top: 39px;
  }

  /*services*/
  .services__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .services__left {
    margin-right: 0px;
  }

  .services__list li img {
    width: 85px;
  }

  .services__right p {
    font-size: 14px;
    margin-top: 20px;
  }

  .skills__section h3 {
    font-size: 14px;
  }

  .skills__list li img {
    width: 40px;
    height: 40px;
  }

  /*footer*/
  footer {
    padding: 20px 20px;
  } 

  .footer__container .mail__to a {
    font-size: 14px;
  }

  .footer__localisation a {
    font-size: 13px;
  }

  /*modal*/
  .modal-content {
    margin-top: 25%;
  }
}

